* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'Ubuntu', sans-serif;
}

ul {
    list-style: none;
    list-style-position: inside;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

header .navbar-nav .nav-link.active {
    color: #0d6efd;
}

/* .container {
    margin: 0 auto;
    max-width: 1300px;
    width: 90%;
} */

/* header {
    background-color:lightskyblue;
    padding: 15px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu ul {
    display: flex;
}

.nav-item {
    margin: 0 15px;

}

.search {
    border-radius: 20px;
    border: 2px solid red;
    padding: 6px 12px;
} */

.carousel-item img {
    aspect-ratio: 1;
    /* object-fit: cover; */
    height: 85vh;
    max-height: 650px;
}

.carousel-hero .carousel-caption {
    bottom: 2rem;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    max-width: 600px;
    text-align: center;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.25rem 1rem;
}

.carousel-caption-2 {
    bottom: 2rem;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    max-width: 600px;
    text-align: right;

}
.register {
    height: 20rem;
    
}

.register .i { background-color: #f3f6ff; } 

.container-form {
    padding: 10px;
    width: 64%;
    text-align: right;
    background-color: dodgerblue;
    box-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.container-form input {
    padding: 4px 8px;
}

.hero-pricing {
    height: 80vh;
    max-height: 650px;
}

.hero-pricing img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.hero-about {
    height: 80vh;
    max-height: 450px;
}

.hero-about img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

footer p {
    margin: 0;
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
}

footer {
    padding: 1.2rem;
}

.wrapper {
    margin: 0 auto; 
    width:50%;
}

video.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.features-vpn {
    background-color: #f3f6ff;
}

.features-vpn h2 {
    line-height: 1.5;
}

.features-vpn .card .card-body {
    padding-bottom: 1.6rem;
}

.features-vpn .card img {
    max-width: 100%;
    padding: 1rem;
}

.prices-acme-vpn .card-body ul {
    list-style-image: url(./img/check-xs.svg);
    padding: 0;
}